# Configuration File
app.ini

# Spotipy Cache
.cache

# Dev Misc
emulator_config.json

# Logs
*.log

# BDF Fonts
assets/fonts/*.bdf

# Submodule
rpi-rgb-led-matrix

# Python Caches
*__pycache__/*
*/__pycache__/*

### PyCharm ###
.idea

### PyCharm Patch ###
*.iml
modules.xml
.idea/misc.xml
*.ipr